*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.nav-bar span{
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
}
.nav-list li{
    padding-right: 10px;
}
.preface{
    padding: 150px 20px;
    font-size: 18px;
    font-weight: 300;
}
.preface span{
    font-size: 25px;
}
.preface h1{
    font-size: 40px;
    color: #D77FA1;
    text-align: center;
    padding-bottom: 30px;
}
p{
    text-align: justify;
}
.journeys{
    padding: 50px 10px;
    background: #FFF9F9;
}
.journeys .title{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: #D77FA1;
}
.timeline{
    position: relative;
    padding: 20px 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.showme{
    opacity: 1!important;
}
.object{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0;
    transition: 0.4s;
}
.timeline{
    display: block;
    width: 100%;
}
.timeline .content-left{
    width: 90%;
    border: 1px solid #BAABDA;
    border-radius: 5px;
    padding: 12px;
    position: relative;
    box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
}
.timeline .content-left::before{
    position: absolute;
    top: 13px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #BAABDA;
    border-right: 0 solid #BAABDA;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline .content-right{
    width: 90%;
    border: 1px solid #BAABDA;
    border-radius: 5px;
    left:10%;
    padding: 12px;
    position: relative;
    box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
}
.timeline .content-right::before{
    position: absolute;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #BAABDA;
    border-right: 0 solid #BAABDA;
    border-bottom: 15px solid transparent;
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    content: " ";
}
.timeline-img{
    padding: 0;
    width: 102px;
    position: relative;
}
.timeline-body p{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 300;
}
.promise{
    padding: 50px 10px;
}
.promise .title{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: #D77FA1;
}
.promise-body{
    margin-top: 10px;
}
.img{
    padding-top: 28px;
    display: flex;
}
.img img{
    border: solid 2px #D6E5FA;
}
